<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814971929913-9t9vig34s7ss12n0ncnjb9ghule89imp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814971929913-9t9vig34s7ss12n0ncnjb9ghule89imp</string>
	<key>API_KEY</key>
	<string>AIzaSyCVqRYgjQKQ_gs7XqhkVnBCYqQwT_xKrso</string>
	<key>GCM_SENDER_ID</key>
	<string>814971929913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cbigdtuw04</string>
	<key>PROJECT_ID</key>
	<string>roommate-pairing-app</string>
	<key>STORAGE_BUCKET</key>
	<string>roommate-pairing-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814971929913:ios:2f1f2f8c40fe7fa9d054e8</string>
</dict>
</plist>